@font-face { /* IRANSans Web Light */
    font-family: "iranSans-light";
    src: url("media/fonts/IRANSansXV.ttf"); /* The variable font */
    src: url("media/fonts/IRANSansWeb_Light.eot") format("embedded-opentype"),
        url("media/fonts/IRANSansX-Light.woff2") format("woff2"),
        url("media/fonts/IRANSansX-Light.woff") format("woff"),
        url("media/fonts/IRANSansX-Light.ttf") format("truetype"),
        url("media/fonts/IRANSansX-Light.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face { /* IRANSans Web Regular */
    font-family: "iranSans-regular";
    src: url("media/fonts/IRANSansXV.ttf"); /* The variable font */
    src: url("media/fonts/IRANSansWeb.eot") format("embedded-opentype"),
        url("media/fonts/IRANSansX-Regular.woff2") format("woff2"),
        url("media/fonts/IRANSansX-Regular.woff") format("woff"),
        url("media/fonts/IRANSansX-Regular.ttf") format("truetype"),
        url("media/fonts/IRANSansX-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face { /* IRANSans Web Medium */
    font-family: "iranSans-medium";
    src: url("media/fonts/IRANSansXV.ttf"); /* The variable font */
    src: url("media/fonts/IRANSansWeb_Medium.eot") format("embedded-opentype"),
        url("media/fonts/IRANSansX-Medium.woff2") format("woff2"),
        url("media/fonts/IRANSansX-Medium.woff") format("woff"),
        url("media/fonts/IRANSansX-Medium.ttf") format("truetype"),
        url("media/fonts/IRANSansX-Medium.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face { /* IRANSans Web Bold */
    font-family: "iranSans-bold";
    src: url("media/fonts/IRANSansXV.ttf"); /* The variable font */
    src: url("media/fonts/IRANSansWeb_Bold.eot") format("embedded-opentype"),
        url("media/fonts/IRANSansX-Bold.woff2") format("woff2"),
        url("media/fonts/IRANSansX-Bold.woff") format("woff"),
        url("media/fonts/IRANSansX-Bold.ttf") format("truetype"),
        url("media/fonts/IRANSansX-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face { /* IRANSans Web Black */
    font-family: "iranSans-black";
    src: url("media/fonts/IRANSansXV.ttf"); /* The variable font */
    src: url("media/fonts/IRANSansWeb_Black.eot") format("embedded-opentype"),
        url("media/fonts/IRANSansX-Black.woff2") format("woff2"),
        url("media/fonts/IRANSansX-Black.woff") format("woff"),
        url("media/fonts/IRANSansX-Black.ttf") format("truetype"),
        url("media/fonts/IRANSansX-Black.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

/* The Meyer Reset (Deletted) */

:root {
    --accent-color: rgb(21, 21, 21);
}

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "iranSans-regular", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--accent-color);
    margin: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Navbar */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    background-color: black;
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.nav_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1240px;
}

.filimo_logo {
    width: 113px;
    padding-left: 32px;
    border-left: 1px solid rgb(80, 80, 80);
    margin-left: 38px;
}

.nav_links {
    display: flex;
    align-items: center;
    height: 52px;
}

.nav_links > div {
    margin-left: 35px;
    font-size: 0.7rem;
}

.filimotor_container, .filimomadrese_container, .search_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filimotor_container:hover p,
.filimomadrese_container:hover p,
.search_container:hover p {
    transition: fill 0.5s;
}
/*
.filimotor_container img {
    margin-left: 3px;
    width: 13px;
}

.filimotor_container:hover a {
    color: rgb(253, 193, 59);
}

.filimomadrese_container img {
    margin-left: 5px;
    width: 17px;
}

.filimomadrese_container:hover a {
    color: rgb(253, 193, 59);
} */

.search_container:hover p {
    transition: color 0.5s;
}

#search_icon { /* SVG */
    width: 100%;
    height: 100%;
    fill: rgb(253, 193, 59);
}

#filimomadrese_icon {
    width: 100%;
    height: 100%;
    fill: rgb(253, 193, 59);
}

.nav_signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin-right: 15px;
    height: 100%;
    padding: 10px 16px;
    
    font-family: "iranSans-medium", Arial, Helvetica, sans-serif;
    font-size: 0.78rem;
    
    border-radius: 4px;
    background-color: rgb(53, 53, 53);
    transition: background-color 0.5s;
}

.login:hover {
    background-color: rgb(80, 80, 80);
}

.purchase {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 100%;
    padding: 9px 16px;
    
    font-family: "iranSans-medium", Arial, Helvetica, sans-serif;
    font-size: 0.8rem;
    
    border-radius: 4px;
    background-color: rgb(28, 181, 97);
    transition: background-color 0.3s;
}

.purchase:hover {
    background-color: rgb(24, 153, 82);
}

.purchase img {
    margin-left: 5px;
    width: 18px;
}

/* Intro */

.intro_photo > img {
    position: absolute;
    background-color: rgb(0, 0, 0);
    min-width: 912px;
    width: 100%;
    transform: translateY(-5px);
    z-index: -1;
}

.intro_gradient {
    background: radial-gradient(
        130% 44% at 41% 40%,
        rgba(0, 0, 0, 0.4) 0,
        var(--accent-color) 100%
    );
    height: 36vw;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.intro_details {
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateY(-60px);
}

.intro_details p:first-child {
    color: rgb(248, 159, 62);
    font-size: 0.85rem;
    font-family: "iranSans-regular", Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin-bottom: 5px;
}

.intro_details > p:nth-child(2) {
    color: rgb(255, 255, 255);
    font-family: "iranSans-black", Arial, Helvetica, sans-serif;
    font-size: 2.2rem;
    margin-bottom: 30px;
    direction: rtl;
}

.intro_items {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    gap: 2%;
    margin-bottom: 56px;

    color: rgba(255, 255, 255, 0.75);
    font-size: 0.87rem;
    direction: rtl;
}

.intro_items_container {
    display: flex;
    justify-content: space-evenly;
}

.intro_items_container > img {
    width: 20px;
    margin-left: 8px;
}

.intro_details a {
    background-color: rgb(28, 181, 97);
    font-family: "iranSans-regular", Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
    padding: 16px 65px;
    border-radius: 9px;
    transition: background-color 0.3s;
}

.intro_details a:hover {
    background-color: rgb(24, 153, 82);
}

.intro_items_last_item {
    display: flex;
    
    color: rgb(170, 170, 170);
    font-size: 0.6rem;
    margin-top: 9px;
}

.intro_items_last_item img {
    margin-left: 5px;
    width: 15px;
    fill: rgb(223, 144, 26);
}

/* Best of */

.best_of {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(21, 21, 21);
}

.best_of_title {
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    direction: rtl;

    margin-bottom: 400px;
}

.best_of_title p {
    margin-left: 16px;
    font-family: "iranSans-bold", Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
}

.best_of_switch {
    display: flex;
    align-items: center;
    padding: 2px;
    border: 1px solid rgb(58, 58, 58);
    border-radius: 50px;
}

.serial_btn {
    background-color: rgb(58, 58, 58);
    font-weight: bold;
}

.movie_btn {
    background-color: rgb(21, 21, 21);
    font-weight: normal;
}

.best_of_switch > input {
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 55px;
    height: 24px;
    cursor: pointer;
    
    font-size: 0.8rem;
    
    border-radius: 50px;
    color: white;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0px;
    
    padding: 0 8px;
    width: 100%;
    height: 28px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    background-color: rgb(25, 25, 25);
}

footer > div > a {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem;
}

.footer_socials {
    height: 100%;
}

/* Media queries */

@media only screen and (min-width: 0) {
    .nav_container, .best_of {
        padding: 0 20px;
    }
}

@media only screen and (min-width: 1100px) {
    .nav_container, .best_of {
        padding: 0 100px;
    }
}

@media only screen and (min-width: 1440px) {
    .nav_container {
        margin: 0 calc(100% - 1440px);
    }
}