@font-face {
    font-family: "iranSans";
    src: url("media/fonts/Iranian\ Sans.ttf");
    src: url("media/fonts/Iranian\ Sans.eot") format("embedded-opentype"),
        url("media/fonts/Iranian\ Sans.woff") format("woff"),
        url("media/fonts/Iranian\ Sans.ttf") format("truetype"),
        url("media/fonts/Iranian\ Sans.svg") format("svg");
    font-weight: normal;
    font-style: normal;
}

/* The Meyer Reset (Deletted) */

:root {
    --accent-color: rgb(21, 21, 21);
}

* {
    box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    font-family: "iranSans", Arial, Helvetica, sans-serif;
}

body {
    background-color: var(--accent-color);
    margin: 0;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

/* Navbar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    font-family: "iranSans", Arial, Helvetica, sans-serif;

    background-color: rgba(0, 0, 0, 1);
    backdrop-filter: blur(10px);
    position: sticky;
    top: 0;
}

.filimo_logo {
    width: 113px;
    padding-left: 32px;
    border-left: 1px solid rgb(80, 80, 80);
    margin-left: 38px;
}

.nav_links {
    display: flex;
    align-items: center;
    height: 52px;
}

.nav_links > div {
    margin-left: 35px;
    font-size: 0.7rem;
}

.filimotor_container, .filimomadrese_container, .search_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.filimotor_container:hover p,
.filimomadrese_container:hover p,
.search_container:hover p {
    transition: fill 0.5s;
}
/*
.filimotor_container img {
    margin-left: 3px;
    width: 13px;
}

.filimotor_container:hover a {
    color: rgb(253, 193, 59);
}

.filimomadrese_container img {
    margin-left: 5px;
    width: 17px;
}

.filimomadrese_container:hover a {
    color: rgb(253, 193, 59);
} */

.search_container:hover p {
    transition: color 0.5s;
}

#search_icon { /* SVG */
    width: 100%;
    height: 100%;
    fill: rgb(253, 193, 59);
}

#filimomadrese_icon {
    width: 100%;
    height: 100%;
    fill: rgb(253, 193, 59);
}

.nav_signup {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    background-color: rgb(53, 53, 53);
    margin-right: 15px;

    height: 100%;
    padding: 10px 16px;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 4px;
    transition: background-color 0.5s;
}

.login:hover {
    background-color: rgb(80, 80, 80);
}

.purchase {
    background-color: rgb(28, 181, 97);
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    padding: 10px 16px;
    font-size: 0.7rem;
    border-radius: 4px;
    transition: background-color 03s;
}

.purchase:hover {
    background-color: rgb(24, 153, 82);
}

.purchase img {
    margin-left: 5px;
    width: 18px;
}

/* Intro */

.intro_photo > img {
    position: absolute;
    background-color: black;
    min-width: 912px;
    width: 100%;
    transform: translateY(-5px);
    z-index: -1;
}

.intro_gradient {
    background: radial-gradient(
        130% 44% at 41% 40%,
        rgba(0, 0, 0, 0.4) 0,
        var(--accent-color) 100%
    );
    height: 36vw;
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
}

.intro_details {
    display: flex;
    width: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    font-family: "iranSans", Arial, Helvetica, sans-serif;
    transform: translateY(-60px);
}

.intro_details p:first-child {
    color: rgb(248, 159, 62);
    font-size: 0.9rem;
    font-weight: bolder;
    margin-bottom: 5px;
}

.intro_details > p:nth-child(2) {
    color: rgb(255, 255, 255);
    font-size: 2.2rem;
    font-weight: bolder;
    margin-bottom: 32px;
    direction: rtl;
}

.intro_items {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;
    /* gap: 38px; */
    margin-bottom: 65px;
    color: rgba(255, 255, 255, 0.75);
    font-size: 0.87rem;
    direction: rtl;
}

.intro_items_container {
    display: flex;
}

.intro_items_container > img {
    width: 20px;
    margin-left: 8px;
}

.intro_details a {
    background-color: rgb(28, 181, 97);
    padding: 16px 65px;
    border-radius: 9px;
    transition: background-color 0.3s;
}

.intro_details a:hover {
    background-color: rgb(24, 153, 82);
}

.intro_items_last_item {
    color: rgb(170, 170, 170);
    font-size: 0.6rem;
    margin-top: 9px;
}

/* Footer */

footer {
    position: fixed;
    bottom: 0px;

    padding: 0 8px;
    width: 100%;
    height: 28px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgb(25, 25, 25);
}

footer > div > a {
    color: rgba(255, 255, 255, 0.4);
    font-size: 0.8rem;
}

.footer_socials {
    height: 100%;
}